body
{
  background: url(city.webp);
}

.wrapper
{
    background: #bd0d00;
    width:500px;
    height: 500px;
    border: 4px solid rgb(82, 0, 0);
    padding: 10px;
    margin: auto;

    /*zemāk paraugs vertik. un horizont. centrēšanai*/
    /*position: absolute;
    top:50%; margin-top:-250px;
    left: 50%; margin-left:-250px;*/

    /*bonus dekorācijas*/
    /*font-family: Arial, Helvetica, sans-serif;*/ /*fonti*/
    /*border-radius: 10px;*/ /*apaļi stūri*/
    /*box-shadow: 3px 3px 15px#5E0000;*/ /*ēna*/
    /*opacity: 0.5;*/ /*caurspīdīgums*/
}


.chataZinas
{
    background: whitesmoke;
    height: 300px;
    color: red;
    padding: 5px;
    overflow: scroll;
}